<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProdutosEstoqueService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://localhost:8000/ProdutosEstoqueService/ProdutosEstoqueService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProdutosEstoqueService"
                contract="ProdutosEstoqueService.IProdutosEstoqueService"
                name="BasicHttpBinding_IProdutosEstoqueService" />
            <endpoint address="net.tcp://localhost:8080/TcpService" binding="netTcpBinding"
                bindingConfiguration="" contract="ProdutosEstoqueService.IProdutosEstoqueService"
                name="NetTcpBinding_IProdutosEstoqueService" />-->
            <endpoint address="http://localhost:8010/ProdutosEstoqueService/ProdutosEstoqueService.svc"
                binding="ws2007HttpBinding" bindingConfiguration="" contract="ProdutosEstoqueService.IProdutosEstoqueService"
                name="WS2007HttpBinding_IProdutosEstoqueService" />
        </client>
    </system.serviceModel>
</configuration>