<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProdutosEstoqueService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49920/ProdutosEstoqueService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProdutosEstoqueService"
                contract="ProdutosEstoqueService.IProdutosEstoqueService"
                name="BasicHttpBinding_IProdutosEstoqueService" />
        </client>
    </system.serviceModel>
</configuration>