<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:8010/ProdutosEstoqueService/ProdutosEstoqueService.svc"
                binding="ws2007HttpBinding" bindingConfiguration="" contract="ProdutosEstoqueClient.ProdutosEstoqueService.IProdutosEstoqueServiceV2"
                name="WS2007HttpBinding_IProdutosEstoqueService" />
        </client>
    </system.serviceModel>
</configuration>